<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="post" action="/posts">
        <table>
            <h1>Write your Content</h1>
            <tr>
                
                Name: <td><input type="text" name="username" placeholder="Enter your name"></td>
            </tr>
            <tr>
                <td><textarea placeholder="write your content here" name="content"></textarea></td>
            </tr>
            <tr>
                <td><button>submit</button></td>
            </tr>
            
        </table>
        </form>
    </div>
</body>
</html>